.hero {
    background-color: #f2f2f2;
    padding: 50px 100px 0 100px;
}

.title {
    color : black;
    font-size: 2rem;
    padding: 30px;
}

.subtitle {
    color : black;
    font-size: 1.2rem;
    padding: 30px;
}

.display-container {
    width: 75%;
    height: 100%;
    background-color:#FFF;
    border-radius: 7px 7px 0 0 ;
    border: solid black;
    border-bottom-style: none;
}