name: Next.js CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20' #Any node version
          cache: 'npm' 

      - name: Install dependencies
        workspace: ./front
        run: npm ci

      - name: Build application
        workspace: ./front
        run: npm run build
        env:
          CI: true

    